.InternalBrowser {
  margin: 40px 200px 80px 200px;
  max-width: 1600px;
  min-width: 900px;
  height: calc(100vh - 192px);
  background-color: #f2f2f2;
  border-radius: 18px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  -webkit-animation: open-window 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: open-window 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: absolute;
  overflow: scroll;
  user-select: none;
}

.internal-browser-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  color: #4a4a4a;
}

.internal-browser-iframe {
  width: 100%;
  height: calc(
    100% - 97px
  ); /* 97px pour tenir compte de la hauteur du formulaire et de la bordure */
  border: none;
}

.internal-browser-shortcuts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  max-height: 45px;
  background-color: #273138;
}

.internal-browser-button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin: 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.internal-browser-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.internal-browser-button:active {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.internal-browser-homepage {
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

.internal-browser-homepage h2 {
  margin-bottom: 16px;
}
