.menubar {
    height: 60px;
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: space-between;
    
    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100px;
      margin-left: 10px;

      .quitButton {
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 1000px ;
        transition: 0.14s ease-in-out;

        &:hover {
          background-color: rgb(194, 0, 0);
        }
      }

      .minimizeButton {
        height: 15px;
        width: 15px;
        background-color: orange;
        border-radius: 1000px ;
        transition: 0.14s ease-in-out;

        &:hover {
          background-color: rgb(196, 127, 0);
        }
      }

      .fullscreenButton {
        height: 15px;
        width: 15px;
        background-color: rgb(0, 155, 0);
        border-radius: 1000px ;
        transition: 0.14s ease-in-out;

        &:hover {
          background-color: green;
        }
      }
    }
    
    .version {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 20px;
      gap: 20px;
      color: white;
      user-select: none;
    }
}