.App {
  margin: 80px 200px 80px 200px;
  max-width: 1600px;
  height: calc(100vh - 192px);
  background-color: #273138;
  border-radius: 18px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  

  @media screen and (max-width: 900px) {
    margin: 50px;
    height: calc(100vh - 130px);
  }

  @media screen and (max-width: 500px) {
    height: calc(100vh - 60px);
    margin: 15px;
  }
}
