.App {
  margin: 80px 120px 80px 120px;
  height: calc(100vh - 192px);
  background-color: #273138;
  border-radius: 18px;

  @media screen and (max-width: 900px) {
    margin: 50px;
    height: calc(100vh - 130px);
  }

  @media screen and (max-width: 500px) {
    height: calc(100vh - 60px);
    margin: 15px;
  }

  .versionNumber {
    margin-right: 20px;
    color: white;
    user-select: none;
  }
}
